<!-- blog/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=g.blog_base_url + '/css/style.css') }}">
    <script src="{{ url_for('static', filename=g.blog_base_url + '/js/script.js') }}"></script>
</head>
<body>
    <header>
         <img src="{{ url_for('static', filename='blog/img/logo.png') }}" alt="Logo" height="50">
        <h1>Blog App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('blog.blog_index') }}">Home</a></li>
                <li><a href="{{ url_for('blog.view_blog_db') }}">View Blog DB</a></li>
                <li><a href="{{ url_for('blog.create') }}">Create Post</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
<!--        display link back to home if not home-->
        {% if not  request.path == url_for('blog.blog_index') %}
            <br><br><a href="{{ url_for('blog.blog_index') }}">Back to Blog</a> <br><br>
        {% endif %}

       <h6 id="footer_message"></h6>
        <p>&copy; 2024 Your Blog</p>
    </footer>
</body>
</html>
