<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--     <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' http://192.168.1.24:4000; style-src 'self' http://192.168.1.24:4000;">-->
    <title>File Display</title>
      <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="static/css/dropzone_styles.css">
        <script src="/static/dependencies/jquery-3.6.0.min.js"></script>
        <script src="/static/dependencies/socket.io.min.js"></script>
     <script src="static/dependencies/ansi_text.js"></script>

       <!--    toastr-->
    <script src="/static/dependencies/toastr.min.js"></script>
    <link rel="stylesheet" href="static/dependencies/toastr.min.css">

    <style>
    .select-button {
    padding: 10px 20px; /* Increase the size of the buttons */
    margin: 10px; /* Add space around the buttons */
    border-radius: 20px; /* Make the buttons rounded */
    font-size: 1.2em; /* Increase the font size */
    border: 2px solid #007bff;    /* a bold blue border */
    cursor: pointer; /* Change the cursor when hovering over the buttons */
    }

    /* You can also add some hover effects */
    .select-button :hover {
        background-color: #ddd; /* Change the background color */
        color: #333; /* Change the text color */
    }
/*    #historyLog {
        width: 100%;
        height: 200px; *//* Adjust as needed *//*
        overflow: auto;
    }*/
        .tiny-select-button {
            padding: 1px 4px; /* Reduce padding */
            margin: 2px;
            border-radius: 2px; /* Reduce border radius */
            font-size: 0.6em; /* Reduce font size */
            border: 2px solid #ff0080;
            cursor: pointer;
            float: right;
            margin-bottom: 3px;
        }
     .log_label {
           font-size: 0.6em; text-align: center; font-family: Arial, sans-serif;
        }
        #playButton {
            display: none;
        }
    </style>
        <link rel="stylesheet" href="static/css/editable_table_styles.css" type="text/css">
</head>
<body>

<h1>File Display</h1>
    <div class="container">
        <div class="left-half">

            <div class="left-header-label">
              <span class="label-text">Semester <span id="reset-button">&nbsp&nbsp<button onclick="resetSelections();">Reset</button>&nbsp&nbsp</span></span>

           </div>
            <div class="semester-selector"  id="semester-selector">
                <button id="semester1" class="semester" value="Semester1">1</button>
                <button id="semester2" class="semester" value="Semester2">2</button>
            </div>
            <!-- <div class="left-header-label">Grade <span id="test-data">&nbsp&nbsp<button onclick="test()">Test Button</button></span></div> -->
            <div class="left-header-label">
              <span class="label-text">Grade</span>


            </div>
            <div class="grade-selector" id="grade-selector">
                <button id="grade1" class="grade" value="Grade1">1</button>
                <button id="grade2" class="grade" value="Grade2">2</button>
                <button id="grade3" class="grade" value="Grade3">3</button>
                <button id="grade4" class="grade" value="Grade4">4</button>
                <button id="grade5" class="grade" value="Grade5">5</button>

            </div>

            <div class="header-container">
              <div class="left-header-label">
                <span class="label-text">Week</span>

              </div>
            </div>
            <div class="week-selector" id="week-selector">
                <button id="week1" class="week" value="Week1">1</button>
                <button id="week2" class="week" value="Week2">2</button>
                <button id="week3" class="week" value="Week3">3</button>
                <button id="week4" class="week" value="Week4">4</button>
                <button id="week5" class="week" value="Week5">5</button>
                <button id="week6" class="week" value="Week6">6</button>
                <button id="week7" class="week" value="Week7">7</button>
                <button id="week8" class="week" value="Week8">8</button>
                <button id="week9" class="week" value="Week9">9</button>
                <button id="week10" class="week" value="Week10">10</button>
                 <button id="week11" class="week" value="Week11">11</button>
                <button id="week12" class="week" value="Week12">12</button>
                <button id="week13" class="week" value="Week13">13</button>
                <button id="week14" class="week" value="Week14">14</button>
                <button id="week15" class="week" value="Week15">15</button>
                <button id="week16" class="week" value="Week16">16</button>
                <button id="week17" class="week" value="Week17">17</button>


                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>

            </div>

        <div class="header-container">
            <div class="left-header-label">
                <span class="label-text">Lesson</span>
            </div>
        </div>




             <div class="lesson-selector" id="lesson-selector">
                    <div class="lesson" id="lesson1" data-target="fileDisplay" data-value="Lesson1">Lesson 1</div>
                    <div class="lesson" id="lesson2" data-target="fileDisplay" data-value="Lesson2">Lesson 2</div>
                    <div class="lesson" id="lesson3" data-target="fileDisplay" data-value="Lesson3">Lesson 3</div>
                    <div class="lesson" id="lesson4" data-target="fileDisplay" data-value="Lesson4">Lesson 4</div>
                    <div class="lesson" id="lesson5" data-target="fileDisplay" data-value="Lesson5">Lesson 5</div>
                    <div class="lesson" id="lesson6" data-target="fileDisplay" data-value="Lesson6">Lesson 6</div>
                    <div class="lesson" id="lesson7" data-target="fileDisplay" data-value="TeachPlans">Teaching Plans</div>
                    <div class="lesson" id="lesson8" data-target="fileDisplay" data-value="MiscMaterials">Miscellaneous Materials</div>
                </div>

            <div class="button-container">
                    <audio id="successAudio">
                       <source src="/static/audio/sound.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>

              <button  class="select-button" onclick="playSuccessSound()"   id="playButton"  >Play Sound</button>
<!--                button with link inside to dropzone page-->
<!--                <button class="select-button" onclick="window.location.href='/'" id="dropzoneButton">Go to Dropzone</button>-->
                <button class="select-button" onclick="redirectToDropzone()" id="dropzoneButton">Go to Dropzone</button>
                <button class="select-button" onclick="socketTest()">Socket Test</button>
<!--                test buttons to start/stop and navigate to Server of Content Folder tree-->
                <button class="select-button" onclick="startContentServer()" id="startContentServerButton">OPEN Content Folder HTTP Server</button>
                 <button class="select-button" onclick="stopContentServer()" id="stopContentServerButton" >CLOSE Content Folder HTTP Server</button>



            </div>

            <div class="history-log">
               <h2 style="display: flex; justify-content: space-between; align-items: center;">
                    History Log
                    <div>
                        <input type="checkbox" id="muteSound" name="muteSound">
                        <label class="log_label" for="muteSound" >Mute Sound</label>
                    </div>
                   <button class="tiny-select-button" onclick="increaseHistoryLogFontSize()">+</button>
                     <button class="tiny-select-button" onclick="decreaseHistoryLogFontSize()">-</button>
                   <button class="tiny-select-button" onclick="window.location.href='{{ url_for('core.core_index') }}'">Test Blueprint Database Routes</button>
                    <button class="tiny-select-button" onclick="window.location.href='{{ url_for('ppt_manager_route') }}'">Test PPT Manager Route</button>
                    <button class="tiny-select-button" onclick="clearHistoryLog()">Clear History Log</button>

                </h2>
<!--                <textarea id="historyLog" readonly></textarea>-->
                <table id="history_log_editableTable" class="editable-table"> </table>
            </div>
        </div> <!-- left-half -->


          <div class="right-half">
            <div class="right-header-label">File Display Container</div>
            <div class="right-side-container">

                <div class="file-display" id="fileDisplay">
                        <div class="file-display-files" style="height: 500px; overflow-y: auto;">
                            <!-- Files will be added here -->
                        </div>
                </div>
            </div>
        </div> <!-- right-half -->

    </div>


<script src="/static/js/config.js"></script>
 <script src="static/js/display_html.js"></script>
<script src="static/js/history_log.js"></script>
<script src="static/js/display_files.js"></script>





<script>

</script>
</body>

</html>